<div class="contendor">

    <div class="subcontenedor mx-3">
    <h3 class="text-center mt-3">Welcome to Csma site</h3>
    <img class="text-center mb-3"src="https://lh3.googleusercontent.com/p/AF1QipMsOxFUChCqheAYCIJLZpC7p9qUn1o7Fy8wisAr=s680-w680-h510" width="100%">
    <p style="text-align: justify">Este periodico digital le mete re duro. Vota 01, Barragotty. Solo somos del azul y le brindaremos toda la informacion necesaria a la comunidad mateista, Awo. Todas las personas tendran acceso al periodico mediante dispositivos electronicos, mas concretamente el celular.</p>
    <b>conformado por: </b>
    <code>Andriu zeta (estudiante 11), Cami Cams, Barragotty, Leandrix.</code>

</div>
</div>

